* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Open Sans;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}
.font-size-12 {
  font-size: 12px;
}
.font-size-14 {
  font-size: 14px;
}
.text-uppercase {
  text-transform: uppercase;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
